<!doctype html>
<html>

  <head>
    <!--Use the title variable to set the title of the page-->
    <title>{{ .title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!--Use bootstrap to make the application look nice-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>

    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>Welcome to the Todo App</h1>
                <p>This is a simple Todo application built with Go and Gin framework.</p>
                {{ if not .userInfo }}
                    <p><a class="btn btn-primary btn-lg" href="/oauth/google/login" role="button">Login With Google</a></p>
                {{ end }}
            </div>
    
            {{ if .error }}
                <div class="alert alert-danger">
                    {{ .error }}
                </div>
            {{ end }}

            {{ if .userInfo }}
                <div class="user-info">
                    <p><strong>Name:</strong> {{ .userInfo.Name }}</p>
                    <p><strong>Email:</strong> {{ .userInfo.Email }}</p>
                    <img src="{{ .userInfo.Picture }}" alt="Profile Picture" class="img-thumbnail" width="100">
                </div>
            {{ end }}
        </div>
    </body>
</html>